body{
    background-color: hsl(30, 38%, 92%);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 35vw;
    border-radius: 8px;
    
}

.text-container{
    background-color: white;
    width: 25vw;
    max-height: 50vh;
    padding: 3vh;
}

.product-pic{
    height: auto;
    
}

.category{
    letter-spacing: .5rem;
    color: hsl(228, 12%, 48%);
}

h1{
    font-family: 'Fraunces';
    overflow: hidden;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

h2{
    font-family: 'Fraunces';
    font-weight: 700;
    overflow: hidden;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
}