*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    
    max-width: 45vw;
   
}

.text-container{
    background-color: white;
    width: 25vw;
    max-height: fit-content;
    padding: 3vh;
    border-radius: 0% 2% 2% 0%;
    overflow: hidden;
}

.product-pic{
    max-width: 100%;
    border-radius: 2% 0% 0% 2%;
}

.category{
    letter-spacing: .5rem;
    color: hsl(228, 12%, 48%);
}

h1{
    font-family: 'Fraunces';
    overflow: hidden;
    font-weight: 500;
    height: fit-content;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.prices{
    display: flex;
    flex-wrap: nowrap;
    padding: -2vh;
}

h2{
    font-family: 'Fraunces';
    font-weight: 700;
    overflow: hidden;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
}

.price{
    padding: 4vh 0vh 0vh 2vh;
}

button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    width:  20vw;
    border-radius: 1vh;
    padding: 2vh;
    border: 0px;
}

button:hover{
    background-color: hsl(159, 35%, 21%);
}

